[submodule "Modules/7z4posh"]
	path = Modules/7z4posh
	url = https://github.com/vvchistiakov/7z4posh.git
[submodule "Modules/sql4posh"]
	path = Modules/sql4posh
	url = https://github.com/vvchistiakov/sql4posh

[submodule "Modules/adsi4posh"]
	path = Modules/adsi4posh
	url = https://github.com/vvchistiakov/adsi4posh.git
[submodule "Modules/cfg4posh"]
	path = Modules/cfg4posh
	url = https://github.com/vvchistiakov/cfg4posh.git
[submodule "Modules/common4posh"]
	path = Modules/common4posh
	url = https://github.com/vvchistiakov/common4posh.git
